# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/
.envs/

# Archivos de configuración de IDEs y editores
.idea/
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Caché de pytest
.pytest_cache/

# Archivo de variables de entorno (sensible)
.env

# Base de datos SQLite (local)
db.sqlite3
