# Archivos de Python compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.env/
.envs/

# Archivos de IDE y editores
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de caché de pytest
.pytest_cache/

# Archivo de entorno sensible
.env

db.sqlite3