# Python
__pycache__/
*.py[cod]
*.pyo
*.so

# Entorno virtual
env/
venv/
ENV/
.venv/
.ENV/

# Archivos Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Configuración
.env
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/
