asgiref==3.8.1
Brotli==1.1.0
dj-database-url==3.0.1
Django==5.2.3
django-crum==0.7.9
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
gunicorn==23.0.0
nod==1.9.4
node==1.2.2
odict==1.9.0
packaging==25.0
pillow==11.2.1
plumber==1.7
psycopg2==2.9.10
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.1.0
scapy==2.6.1
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
whitenoise==6.9.0
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.1
zope.event==5.1.1
zope.hookable==7.0
zope.interface==7.2
zope.lifecycleevent==5.1
zope.proxy==6.1
